<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">


    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
        <servlet-name>Authcode</servlet-name>
        <url-pattern>/authcode.servlet</url-pattern>
    </filter-mapping>


    <display-name>EmailSendingWebApp</display-name>

    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>

    <context-param>
        <param-name>user</param-name>
        <param-value>teamdcgym@gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>pass</param-name>
        <param-value>te4mdcgym</param-value>
    </context-param>


    <servlet>

        <servlet-name>Serlev</servlet-name>
        <servlet-class>EmailSendingServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

</web-app>